<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TenantsPageWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.109/MTAUIStudio/webservice/TenantsPageWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TenantsPageWebServiceSoap"
        contract="TenantsPageWS.TenantsPageWebServiceSoap" name="TenantsPageWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>